<div style="display: flex; flex-direction: row; gap: 20px; flex-wrap: wrap">
  <div class="card">
    <h1>Info</h1>

    <h2>Developers:</h2>
    <div class="devs">
      <a href="https://discord.gg/plates" class="dev">
        <img
          src="https://media.discordapp.net/attachments/1196193456100478986/1263870984130400446/CRAZ.jpg?ex=669bcf14&is=669a7d94&hm=9c69d0add7d1fca3cc77a5230112b705c9195a5c3254db16b6527d26b6c14afa&=&format=webp&width=416&height=416"
          width="40px"
          class="devpfp"
        />
        Decarius</a
      >
    </div>
    <p style="text-align: center; margin-top: 10px">
      Created by DW UNBLOCKED GAMES
    </p>
    <p id="version" style="text-align: center; margin: 0"></p>
    <script>
      fetch("../package.json")
        .then((response) => response.json())
        .then((data) => {
          const versionElement = document.getElementById("version");
          versionElement.textContent = `DW ${data.version} Stable`;
        })
        .catch((error) => console.error("Error fetching the version:", error));
    </script>
  </div>
</div>
